<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>WEB LJ ~THE ANONYMOUS INTERFACE~</title>
  <link rel="stylesheet" href="/stylesheets/site.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,  user-scalable=no" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body style="text-align:center;">
  <a href="http://web-lj.ayafuji.com/quadphase">くるくる照明へログインする</a></br>
  <a href="http://web-lj.ayafuji.com/strobo">ストロボへログインする</a>
  <div id="howto">
    <h1>web LJ test version</h1>
    <a href="./auth/twitter" >
  </div>
  </body>
</html>
